{
  "settings": {
    "Cert": "{{ meshcentral_fqdn }}",
{% if crowdsec.apikey is defined %}
    "crowdsec": {
      "url": "{{ crowdsec.url }}",
      "apikey": "{{ crowdsec.apikey }}",
      "fallbackremediation": "captcha"
    },
{% endif %}
    "postgres": {
      "host": "127.0.0.1",
      "user": "{{ postgres.user }}",
      "port": 5432,
      "password": "{{ postgres.password}}",
      "database": "{{ postgres.database }}"
    },
    "WANonly": true,
    "LANonly": false,
    "_Minify": 1,
    "_SessionTime": 30,
    "_SessionKey": "MyReallySecretPassword1",
    "_SessionSameSite": "strict",
    "_DbEncryptKey": "MyReallySecretPassword2",
    "_DbRecordsEncryptKey": "MyReallySecretPassword",
    "_DbRecordsDecryptKey": "MyReallySecretPassword",
    "_DbExpire": {
      "events": 1728000,
      "powerevents": 864000
    },
    "Port": 4430,
    "AliasPort": 443,
    "RedirPort": 800,
    "_AllowLoginToken": true,
    "_AllowFraming": true,
    "Nice404": true,
    "SelfUpdate": true,
    "AgentPing": 60,
    "AgentPong": 300,
    "TlsOffload": "{{ proxy_ip }}",
    "trustedProxy": "{{ proxy_ip }}",
    "MpsPort": 44330,
    "MpsAliasPort": 4433,
    "MpsAliasHost": "{{ meshcentral_fqdn }}",
    "MpsTlsOffload": true,
    "_No2FactorAuth": true,
    "_Log": "main,web,webrequest,cert",
    "_Redirects": {
      "meshcommander": "https://www.meshcommander.com/"
    },
    "__MaxInvalidLogin": "Time in minutes, max amount of bad logins from a source IP in the time before logins are rejected.",
    "MaxInvalidLogin": { "time": 10, "count": 10, "coolofftime": 10 },
    "plugins": {
        "enabled": true
    }
  },
  "plugins": {
    "enabled": true
  },
  "domains": {
    "": {
      "title": "{{ title_text }}",
      "welcomeText": " {{ welcome_text }}",
      "titlePicture": "images/title.png",
      "welcomePicture": "images/welcome.png",
      "Footer": "{{ footer_text }}",
      "CertUrl": "https://{{ meshcentral_fqdn }}:443/",
      "_PasswordRequirements": { "min": 8, "max": 128, "upper": 1, "lower": 1, "numeric": 1, "nonalpha": 1, "reset": 90, "force2factor": true, "skip2factor": "127.0.0.1,192.168.2.0/24" },
      "_Limits": {
        "_MaxDevices": 100,
        "_MaxUserAccounts": 100,
        "_MaxUserSessions": 100,
        "_MaxAgentSessions": 100,
        "MaxSingleUserSessions": 10
      },
      "_AmtAcmActivation": {
        "log": "amtactivation.log",
        "certs": {
          "mycertname": {
            "certfiles": [ "amtacm-leafcert.crt", "amtacm-intermediate1.crt", "amtacm-intermediate2.crt", "amtacm-rootcert.crt" ],
            "keyfile": "amtacm-leafcert.key"
          }
        }
      },
      "httpheaders": {
        "Strict-Transport-Security": "max-age=360000",
        "x-frame-options": "SAMEORIGIN",
        "Content-Security-Policy": "default-src 'none'; script-src 'self' 'unsafe-inline'; connect-src 'self'; img-src 'self' data:; style-src 'self' 'unsafe-inline'; frame-src 'self'; media-src 'self'"
      },
      "_agentConfig": [ "webSocketMaskOverride=1" ],
      "_SessionRecording": {
        "_filepath": "C:\\temp",
        "_index": true,
        "__protocols__": "Is an array: 1 = Terminal, 2 = Desktop, 5 = Files, 100 = Intel AMT WSMAN, 101 = Intel AMT Redirection",
        "protocols": [ 1, 2, 101 ]
      }
    }
  },
  "smtp": {
    "host": "{{ email.host }}",
    "port": {{ email.port }},
    "from": "{{ email.from_address }}",
    "user": "{{ email.username }}",
    "pass": "{{ email.password }}",
    "tls": {{ email.tls }},
    "tlscertcheck": false,
    "tlsstrict": true
  }
}
