# Source: ISC - Internet Systems Consortium
# Site: https://gitlab.isc.org/isc-projects/stork/
# Repository: ISC - Internet Systems Consortium / stork
# Description: Stork is a free, open-source management system for Kea DHCP servers. Stork installation requires downloading and installing the Stork agent that runs on the Kea server.

[isc-stork]
name=isc-stork
baseurl=https://dl.cloudsmith.io/public/isc/stork/rpm/{{ ansible_distribution | lower }}/{{ ansible_distribution_major_version }}/$basearch
repo_gpgcheck=1
enabled=1
skip_if_unavailable=1
gpgkey=https://dl.cloudsmith.io/public/isc/stork/gpg.77F64EC28053D1FB.key
gpgcheck=1
sslverify=1
sslcacert=/etc/pki/tls/certs/ca-bundle.crt
metadata_expire=300
pkg_gpgcheck=1
autorefresh=1
type=rpm-md

[isc-stork-noarch]
name=isc-stork-noarch
baseurl=https://dl.cloudsmith.io/public/isc/stork/rpm/{{ ansible_distribution | lower }}/{{ ansible_distribution_major_version }}/noarch
repo_gpgcheck=1
enabled=1
skip_if_unavailable=1
gpgkey=https://dl.cloudsmith.io/public/isc/stork/gpg.77F64EC28053D1FB.key
gpgcheck=1
sslverify=1
sslcacert=/etc/pki/tls/certs/ca-bundle.crt
metadata_expire=300
pkg_gpgcheck=1
autorefresh=1
type=rpm-md

[isc-stork-source]
name=isc-stork-source
baseurl=https://dl.cloudsmith.io/public/isc/stork/rpm/{{ ansible_distribution | lower }}/{{ ansible_distribution_major_version }}/SRPMS
repo_gpgcheck=1
enabled=1
skip_if_unavailable=1
gpgkey=https://dl.cloudsmith.io/public/isc/stork/gpg.77F64EC28053D1FB.key
gpgcheck=1
sslverify=1
sslcacert=/etc/pki/tls/certs/ca-bundle.crt
metadata_expire=300
pkg_gpgcheck=1
autorefresh=1
type=rpm-md
